{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c3.css' %}">
</head>
<body>
    <h1>About</h1>
    <ul>
        <li><a href="{% url 'contact' %}">CONTACT</a></li>
    <li><a href="{% url 'news' %}">MENU</a></li>
    <li><a href="{% url 'home' %}">HOME</a></li></ul>
    <h3>RELATED TO BOW BOW BLISS- A PET-THEMED RESTAURANT AND CAFE, KALAPATTI </h3>
    <p style="font-size: 25px;" align="justyify">&nbsp&nbspRestaurants in Coimbatore, Coimbatore Restaurants, Kalapatti restaurants, Best Kalapatti restaurants, Coimbatore city restaurants, Quick Bites in Coimbatore, Quick Bites near me, Quick Bites in Kalapatti, in Coimbatore, near me, in Kalapatti, Order food online in Kalapatti, Order food online in Coimbatore
    </p><br>
    <h3>RESTAURANTS AROUND KALAPATTI</h3>
    <p style="font-size: 25px;" align="justyify">&nbsp&nbspSaravanampatty restaurants, Ganapathy restaurants, Sitra restaurants, Peelamedu restaurants</p><br>
    <h3>FREQUENT SEARCHES LEADING TO THIS PAGE</h3>
    <p style="font-size: 25px;" align="justyify">&nbsp&nbspbow bow bliss- a pet-themed restaurant and cafe menu, bow bow bliss- a pet-themed restaurant and cafe kalapatti menu, bow bow bliss- a pet-themed restaurant and cafe coimbatore, bow bow bliss- a pet-themed restaurant and cafe coimbatore menu, bow bow bliss- a pet-themed restaurant and cafe restaurant
        </p>

</body>
</html>